.hero-container {
  position: relative;
  width: 100%;
  height: 750px;
  background-image: url('./assets/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.hero-subtitle {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px #00000080;
}

@media only screen and (max-width: 768px) {
  .hero-image {
    width: 100vw;
    height: auto;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}


.gray-stripe {
    background-color: #cccccc;
    background-size: auto 50%;
  }

.bg-transparent {
  /*background-color: rgba(255,165,0, 0.5)!important;*/
  color: white; 
}

.navbar-color {
  background-color: #FAD6A5;
}


.logo{
  width: 150px;
  height: 100px;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-center a {
  font-size: 1.5em;
  color: #7B8FA1;
}

.navbar-center a:hover {
  font-size: 1.5em;
  color: #567189;
}

.card-rounded {
  border-radius: 10px;
}

.letra-home {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.contenedor-padre {
  display: flex; /* esto permite utilizar align-items */
  align-items: center; /* esto alinea los elementos dentro del contenedor al centro */
}

.footer {
  background-color: #FAD6A5;
  color: #7B8FA1;
  padding: 20px;
}

.contact-info {
  max-width: 800px;
  margin: 0 auto;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 5px;
}